{% extends "layout.html" %}

{% block content %}

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTale -->
                    <div class="card shadow mb-4" style="margin-top: 50px">
                        <div class="card-header py-3">
                            <div class="row">
                                <i class="fas fa-car-side" style="margin-right:10px; margin-top:4px"></i>
                                <h6 class="m-0 font-weight-bold text-primary">Automóveis disponíveis para venda</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Identificação</th>
                                            <th>Cor</th>
                                            <th>Potência</th>
                                            <th>Combustível</th>
                                            <th>Localização</th>
                                            <th>Preço</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for x in idc %}
                                                <tr>
                                                    <td style="width: 40%">{{ x }}<!--<a href="brand?entity= "/>--> </td>
                                                    <td style="width: 30%"> </td>
                                                    <td style="width: 25%"> </td>
                                                    <td style="width: 25%"> </td>
                                                    <td style="width: 25%"> </td>
                                                    <td style="width: 25%"> </td>
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}
