{% extends "layout.html" %}

{% block content %}

     {% load static %}
        <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTale -->
                    <div class="card shadow mb-4" style="margin-top: 50px">
                        <div class="card-header py-3">
                            <div class="row">
                                <i class="fas fa-star" style="margin-right:10px; margin-top:4px; color: #e9aa0b "></i>
                                <h6 class="m-0 font-weight-bold text-primary">Lista de Desejos</h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th> </th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <th style="width: 10px">
                                                                <a href="#" class="btn btn-danger btn-circle btn-sm"/>
                                                                <i class="fas fa-trash"></i>
                                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}
